<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>661533100505-86vafpqiorfiv896m5v4iqio3f20jjeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661533100505-86vafpqiorfiv896m5v4iqio3f20jjeu</string>
	<key>API_KEY</key>
	<string>AIzaSyBQHq-VJMXYiifa9EiSQQuEh7Tr0T3Pwyo</string>
	<key>TRACKING_ID</key>
	<string>UA-69299126-3</string>
	<key>GCM_SENDER_ID</key>
	<string>661533100505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vyrl.smt.com</string>
	<key>PROJECT_ID</key>
	<string>vyrl-project</string>
	<key>STORAGE_BUCKET</key>
	<string>vyrl-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:661533100505:ios:7493e7094d99da17</string>
	<key>DATABASE_URL</key>
	<string>https://vyrl-project.firebaseio.com</string>
</dict>
</plist>
