<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>288006802344-79cb34bij6rc33sfa238ghfid2kqc240.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288006802344-79cb34bij6rc33sfa238ghfid2kqc240</string>
	<key>API_KEY</key>
	<string>AIzaSyA3i--f1DF8LHGXJDnvwOblptE-SMHgOPM</string>
	<key>GCM_SENDER_ID</key>
	<string>288006802344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smt.vyrl</string>
	<key>PROJECT_ID</key>
	<string>vyrl-6be4c</string>
	<key>STORAGE_BUCKET</key>
	<string>vyrl-6be4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:288006802344:ios:435b9f12d71757be</string>
	<key>DATABASE_URL</key>
	<string>https://vyrl-6be4c.firebaseio.com</string>
	<key>TRACKING_ID</key>
	<string>UA-102838629-1</string>
</dict>
</plist>
